body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.widget {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 300px;
  min-height: 300px;
  border-radius: 50px;
  box-shadow: 4px 4px 2px grey;
  background: linear-gradient(to bottom right, #7ee8fa, #eec0c6);
}

.hint {
  position: absolute;
  display: none;
  width: 180px;
  padding: 10px;
  z-index: 1;
  background-color: #eec0c6;
  border-radius: 20px;
  top: -45px;
}

#city-search {
  background: transparent;
  border: 2px solid #ffffff;
  margin-top: 20px;
  border-radius: 20px;
  height: 40px;
  padding-left: 10px;
}
#city-search:focus {
  outline: none;
}
#city-search:focus + .hint {
  display: block;
}
.widget .city {
  margin: 0;
  text-align: center;
}
.city > h5 {
  margin-top: 0;
}
.forecast {
  text-align: center;
}
.forecast > ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.forecast > ul li {
  padding-top: 20px;
  padding-bottom: 20px;
  list-style: none;
}

.forecast .date::before {
  content: 'Last updated: ';
  font-weight: 600;
}
.forecast .temperature::before {
  content: 'Temperature: ';
  font-weight: 600;
}
.forecast .feelslike::before {
  content: 'Feels like: ';
  font-weight: 600;
}
.forecast .humidity::before {
  content: 'Humidity: ';
  font-weight: 600;
}
.forecast .temperature::after,
.forecast .feelslike::after,
.day .max-temp::after,
.day .min-temp::after {
  content: ' \2103';
}
.forecast .humidity::after,
.day .avg-humid::after {
  content: ' %';
}
button {
  width: 100px;
  height: 40px;
  background-color: white;
  opacity: 0.5;
  border: 2px solid white;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}
button:hover {
  opacity: 1;
  box-shadow: 4px 4px 2px grey;
}
button:active {
  box-shadow: none;
}

.show-more {
  display: none;
  justify-content: center;
  min-width: 600px;
  min-height: 300px;
  box-shadow: 4px 4px 2px grey;
  padding: 10px 20px;
  background-color: rgba(211, 211, 211, 0.2);
  margin-left: 20px;
  border-radius: 30px;
}
.show-more .day {
  text-align: center;
}
.show-more .day:nth-child(even) {
  padding-left: 20px;
  padding-right: 20px;
}
.day .min-temp {
  margin: 10px auto;
}
.day .max-temp::before {
  content: 'Max temperature: ';
}
.day .min-temp::before {
  content: 'Min temperature: ';
}
.day .avg-humid::before {
  content: 'Average humidity: ';
}
