* {
  margin: 0;
  padding: 0;
  user-select: none;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  display: none;
  position: fixed;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  background-color: rgba(255, 0, 17, 0.492);
  min-width: 400px;
  height: 60px;
  z-index: 1;
  text-align: center;
  line-height: 60px;
}
.widget {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 300px;
  min-height: 300px;
  border-radius: 50px;
  box-shadow: 4px 4px 2px grey;
  background: linear-gradient(to bottom right, #7ee8fa, #eec0c6);
}

#city-search {
  background: transparent;
  border: 2px solid #ffffff;
  margin-top: 20px;
  border-radius: 20px;
  height: 40px;
  padding-left: 10px;
  margin-bottom: 30px;
}
#city-search:focus {
  outline: none;
}
#city-search:focus + .hint {
  display: block;
}
.widget .city {
  margin: 0;
  text-align: center;
}
.city > h5 {
  margin-top: 0;
  margin-bottom: 20px;
}
.forecast {
  text-align: center;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.forecast > ul li {
  padding-top: 20px;
  padding-bottom: 20px;
  list-style: none;
}

.forecast .date::before {
  content: 'Last updated: ';
  font-weight: 600;
}
.forecast .temperature::before {
  content: 'Temperature: ';
  font-weight: 600;
}
.forecast .feelslike::before {
  content: 'Feels like: ';
  font-weight: 600;
}
.forecast .humidity::before {
  content: 'Humidity: ';
  font-weight: 600;
}
.forecast .temperature::after,
.forecast .feelslike::after,
.day .max-temp::after,
.day .min-temp::after {
  content: ' \2103';
}
.forecast .humidity::after,
.day .avg-humid::after {
  content: ' %';
}
button {
  width: 100px;
  height: 40px;
  background-color: white;
  opacity: 0.5;
  border: 2px solid white;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}
button:hover {
  opacity: 1;
  box-shadow: 4px 4px 2px grey;
}
button:active {
  box-shadow: none;
}

.show-more {
  display: none;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  min-height: 300px;
  box-shadow: 4px 4px 2px grey;
  padding: 20px;
  background-color: rgba(211, 211, 211, 0.2);
  margin-left: 20px;
  border-radius: 30px;
  position: relative;
  top: 0;
}
.close {
  content: '\2718';
  color: crimson;
  position: absolute;
  top: 20px;
  right: 20px;
  transform: scale(1.2);
  cursor: pointer;
}
.show-more .day {
  text-align: center;
}
.show-more div:nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
}
.day .min-temp {
  margin: 10px auto;
}
.day .max-temp::before {
  content: 'Max temperature: ';
}
.day .min-temp::before {
  content: 'Min temperature: ';
}
.day .avg-humid::before {
  content: 'Average humidity: ';
}
details {
  text-align: center;
}
details > summary {
  margin-top: 15px;
  margin-bottom: 15px;
  list-style: none;
  font-size: 12px;
  position: relative;
}
summary::after {
  content: '\276F';
  transform: rotate(90deg);
  transition-duration: 0.3s;
  display: inline-block;
  position: absolute;
  right: 17px;
  bottom: -2px;
  cursor: pointer;
}

.day h5 {
  margin-bottom: 20px;
}
details li::after {
  content: ' \2103';
}
details li {
  padding-bottom: 5px;
  font-size: 14px;
}
details li:last-child {
  padding-bottom: 0;
}
details[open] summary::after {
  transform: rotate(-90deg);
  transition-duration: 0.3s;
}
